<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bee.platform.cloud.user.dao.mapper.AuthEnterpriseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bee.platform.cloud.user.entity.AuthEnterprise">
        <id column="id" property="id" />
        <result column="enterprise_no" property="enterpriseNo" />
        <result column="name" property="name" />
        <result column="simple_name" property="simpleName" />
        <result column="admin" property="admin" />
        <result column="pid" property="pid" />
        <result column="type" property="type" />
        <result column="contact" property="contact" />
        <result column="linkman" property="linkman" />
        <result column="street" property="street" />
        <result column="regionid" property="regionid" />
        <result column="address" property="address" />
        <result column="industry" property="industry" />
        <result column="status" property="status" />
        <result column="deleted" property="deleted" />
        <result column="child_num" property="childNum" />
        <result column="reason" property="reason" />
        <result column="operate_id" property="operateId" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="deleted_time" property="deletedTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, enterprise_no, name, simple_name, admin, pid, type, contact, linkman, street, regionid, address, industry, status, deleted, child_num, reason, operate_id, create_time, update_time, deleted_time
    </sql>

</mapper>
