<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bee.platform.cloud.si.manufacture.dao.mapper.BuyContractSettlementMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bee.platform.cloud.si.manufacture.entity.BuyContractSettlement">
        <id column="id" property="id" />
        <result column="contract_settlement_business_id" property="contractSettlementBusinessId" />
        <result column="contract_business_id" property="contractBusinessId" />
        <result column="serial_num" property="serialNum" />
        <result column="settle_time" property="settleTime" />
        <result column="unit_price_settlement" property="unitPriceSettlement" />
        <result column="amount_settlement" property="amountSettlement" />
        <result column="weight_receive" property="weightReceive" />
        <result column="weight_settle" property="weightSettle" />
        <result column="water_content_settle" property="waterContentSettle" />
        <result column="treatment_mode" property="treatmentMode" />
        <result column="settlement_status" property="settlementStatus" />
        <result column="status" property="status" />
        <result column="remark" property="remark" />
        <result column="create_id" property="createId" />
        <result column="creator" property="creator" />
        <result column="create_time" property="createTime" />
        <result column="modify_id" property="modifyId" />
        <result column="modifier" property="modifier" />
        <result column="modify_time" property="modifyTime" />
        <result column="car_num" property="carNum" />
        <result column="weightI_ids" property="weightIds" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, contract_settlement_business_id, contract_business_id, serial_num, settle_time,unit_price_settlement, amount_settlement,
        weight_receive, weight_settle, water_content_settle, treatment_mode, settlement_status, status, remark, create_id,
        creator, create_time, modify_id, modifier, modify_time,car_num,weightI_ids
    </sql>

    <!-- 根据合同业务id查询总结算数量 -->
    <select id="getSettlementVolume" resultType="java.math.BigDecimal">
        select sum(ifnull(t.weight_settle, 0)) from buy_contract_settlement t
        where t.settlement_status != 0 and t.status = '1' and t.contract_business_id = #{contractBusinessId}
    </select>

</mapper>
