<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bee.platform.cloud.si.manufacture.dao.mapper.ProSampleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bee.platform.cloud.si.manufacture.entity.ProSample">
        <id column="id" property="id"/>
        <result column="enterprise_id" property="enterpriseId"/>
        <result column="factory_id" property="factoryId"/>
        <result column="pro_ore_furnace_sample_id" property="proOreFurnaceSampleId"/>
        <result column="sample_code" property="sampleCode"/>
        <result column="product_id" property="productId"/>
        <result column="product_name" property="productName"/>
        <result column="product_spec_id" property="productSpecId"/>
        <result column="product_spec_name" property="productSpecName"/>
        <result column="furnace_id" property="furnaceId"/>
        <result column="furnace_name" property="furnaceName"/>
        <result column="shift" property="shift"/>
        <result column="furnace_batch" property="furnaceBatch"/>
        <result column="baked_date" property="bakedDate"/>
        <result column="baked_time" property="bakedTime"/>
        <result column="open_time" property="openTime"/>
        <result column="assay_status" property="assayStatus"/>
        <result column="assay_id" property="assayId"/>
        <result column="assay_person" property="assayPerson"/>
        <result column="assay_time" property="assayTime"/>
        <result column="abandon_reason" property="abandonReason"/>
        <result column="abandon_id" property="abandonId"/>
        <result column="abandon_person" property="abandonPerson"/>
        <result column="abandon_time" property="abandonTime"/>
        <result column="status" property="status"/>
        <result column="create_id" property="createId"/>
        <result column="creator" property="creator"/>
        <result column="create_time" property="createTime"/>
        <result column="modify_id" property="modifyId"/>
        <result column="modifier" property="modifier"/>
        <result column="modify_time" property="modifyTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, enterprise_id, factory_id, pro_ore_furnace_sample_id, sample_code, product_id, product_name,product_spec_id,product_spec_name, furnace_id, furnace_name, shift, furnace_batch, baked_date, baked_time,open_time, assay_status, assay_id, assay_person, assay_time, abandon_reason, abandon_id, abandon_person, abandon_time, status, create_id, creator, create_time, modify_id, modifier, modify_time
    </sql>


    <select id="getResultForBindBagging" parameterType="com.bee.platform.cloud.si.manufacture.rq.ProBaggingFirstRq"
            resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"></include>
        FROM
        pro_sample a
        WHERE a.furnace_id = #{furnaceId}
        AND a.shift = #{shiftCode}
        AND a.furnace_batch = #{furnaceBatchCode}
        <if test="shiftTime!=null">
            <![CDATA[   AND DATE_FORMAT(a.open_time, '%Y-%m-%d') = DATE_FORMAT(#{shiftTime}, '%Y-%m-%d')   ]]>
        </if>
    </select>
</mapper>
