<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bee.platform.cloud.si.manufacture.dao.mapper.SaleCarrierTransportMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bee.platform.cloud.si.manufacture.entity.SaleCarrierTransport">
        <id column="id" property="id"/>
        <result column="batch_id" property="batchId"/>
        <result column="contract_business_id" property="contractBusinessId"/>
        <result column="transport_section_id" property="transportSectionId"/>
        <result column="carrier_transport_id" property="carrierTransportId"/>
        <result column="carrier_id" property="carrierId"/>
        <result column="carrier_name" property="carrierName"/>
        <result column="transport_mode" property="transportMode"/>
        <result column="to_factory" property="toFactory"/>
        <result column="starting_place_id" property="startingPlaceId"/>
        <result column="starting_place" property="startingPlace"/>
        <result column="arrival_place_id" property="arrivalPlaceId"/>
        <result column="arrival_place" property="arrivalPlace"/>
        <result column="freight_volume" property="freightVolume"/>
        <result column="unit_price" property="unitPrice"/>
        <result column="carriage" property="carriage"/>
        <result column="departure_time" property="departureTime"/>
        <result column="estimate_arrival_time" property="estimateArrivalTime"/>
        <result column="status" property="status"/>
        <result column="create_id" property="createId"/>
        <result column="creator" property="creator"/>
        <result column="create_time" property="createTime"/>
        <result column="modify_id" property="modifyId"/>
        <result column="modifier" property="modifier"/>
        <result column="modify_time" property="modifyTime"/>
        <result column="remark" property="remark"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, batch_id, contract_business_id, transport_section_id, carrier_transport_id, carrier_id, carrier_name,
        transport_mode, to_factory, starting_place_id, starting_place, arrival_place_id, arrival_place, freight_volume,
        unit_price, carriage, departure_time, estimate_arrival_time, status, create_id, creator, create_time,
        modify_id, modifier, modify_time, remark
    </sql>

    <!-- 根据用户查询所有销售运输台账信息 -->
    <select id="getSaleLogisticsReportForm" resultType="com.bee.platform.cloud.si.manufacture.dto.SaleTransportReportDTO" parameterType="map">
        SELECT
        sb.customer_name as customerName,
        st.carrier_name as carrierName,
        sb.contract_num as contractNum,
        sb.product_name as productName,
        sb.quantity,
        st.departure_time as departureTime,
        st.starting_place as startingPlace,
        st.arrival_place as arrivalPlace,
        st.unit_price as unitPrice
        FROM
        sale_carrier_transport st
        LEFT JOIN sale_contract_basic sb ON st.contract_business_id = sb.contract_business_id
        where 1=1 and sb.enterprise_id = #{enterpriseId} and sb.factory_id = #{factoryId}
        <if test="customerName != null">
            and sb.customer_name like concat('%',#{customerName},'%')
        </if>
        <if test="productName != null">
            and sb.product_name like concat('%',#{productName},'%')
        </if>
        <if test="startTime != null">
            and sb.create_time &gt;= #{startTime}
        </if>
        <if test="endTime != null">
            and sb.create_time &lt;= #{endTime}
        </if>
        <if test="sort == 'asc'">
            order by st.departure_time asc
        </if>
        <if test="sort == 'desc'">
            order by st.departure_time desc
        </if>
    </select>

</mapper>
